
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.localcl
/config/secrets/
/public/bundles/
/public/uploads/
/var/
/vendor/
/drivers/
###< symfony/framework-bundle ###
/.vscode

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
